@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Priestacy';
  src: url('/src/font/Priestacy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kugile';
  src: url('/src/font/Kugile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

.logo {
  font-family: 'Priestacy', sans-serif;
  font-weight: 10; /* Plus fin */
  font-size: 5rem; /* Plus grand */
}

.logo-box {
  font-family: 'Priestacy';
  font-weight: 10; /* Plus fin */
  font-size: 3rem; /* Plus grand */
  text-shadow: 0 0 10px #A17D42, 0 0 20px #A17D42, 0 0 30px #A17D42; /* Effet de glow doré */
}

.Kugile {
  font-family: 'Kugile', sans-serif;
  font-size: 1.5rem; /* Ajuste la taille selon tes besoins */
  font-weight: normal;
}

.Kugile-nav {
  font-family: 'Kugile', sans-serif;
  font-weight: bold;
}

.central-container {
  max-width: 800px; /* Largeur maximale pour centrer le contenu */
  margin: 0 auto; /* Centrer horizontalement */
  padding: 2rem; /* Ajouter un peu d'espace intérieur */
  background-color: #000; /* Fond noir pour un look luxueux */
  border: 2px solid #A17D42; /* Bordure dorée */
  border-radius: 15px; /* Coins arrondis pour un look moderne */
  box-shadow: 0 8px 15px #A17D42; /* Ombre subtile dorée */
  color: #A17D42; /* Texte doré */
  font-family: 'Inter', sans-serif; /* Police élégante */
  text-align: center; /* Centrer le texte */
  line-height: 1.8; /* Espacement pour une meilleure lisibilité */
}